@CHARSET "UTF-8";
/*=============================================================================*
 *                           INDEX                                             *
 * ----------------------------------------------------------------------------
 *      1. Base Tags
 *      2. General Styles
 *      3. Modules
 *          3.1. History Overview Styling
 *      4. Helper Classes
 *      5. Javascript Enhanced Elements
 =============================================================================*/


/*  Base Tags
 =============================================================================*/
body {
    background-color: #F7F7F7;
    color: #333333;
    font-family: Arial, sans-serif;
    font-size: 1em;
    margin: 0 auto 50pt;
    width: 40em;
}

    a {
        color: #94AB2F;
        border-bottom: 1px solid #94AB2F;
        text-decoration: none;
    }

    a:hover {
        border-bottom-color: #0558A8;
    }

    code {
        white-space: pre; /* nowrap? */
        background-color: #FFC;
        color: #333;
        font-weight: normal;
        text-decoration: none;
        margin: 0;
        padding: 0 4pt;
        border: 1px solid #EEE;
    }

    dd {}
    dl {}
    dt {
        font-weight:bold;
        margin-top:1em;
    }


    h1 {
        color: #999;
        font-size: 20pt;
        position: fixed;
        right: 10pt;
        text-align: right;
        top: 10pt;
    }


    h2,h3,h4,h5,h6 {
        background-color:#FFFFFF;
        border-bottom:1px solid;
        border-left:1px dotted;
        border-top:1px solid;
        color:#0558A8;
        margin-right: 15em;
        padding:0 0.5em;
        width:auto;
    }
    h2 {font-size: 20pt; margin-left: -6em;}
    h3 {font-size: 14pt; margin-left: -4em;}
    h4 {font-size: 12pt; margin-left: -2em;}
    h5 {font-size: 12pt; margin-left: -1em;}

    li {
        font-size: 10pt;
    }


    p {
        text-align: justify;
    }

    ol {list-style-type: upper-roman; }

/*  General Styles
 =============================================================================*/
    h1 a {
        color: #999;
    }

    h1 span {
        font-size: 18pt;
        color: #666;

        display: block;
    }

    ol ol {list-style-type: decimal; }
    ol ol ol {list-style-type: lower-alpha; }
    ol ol ol ol {list-style-type: decimal; }


/*  Modules
 =============================================================================*/
    .company {
        font-family:"Trebuchet MS","Verdana",sans-serif;
        margin-bottom:1em;
        text-align:right;
    }


    /*  History Overview Styling
    --------------------------------------------------------------------------*/
    .week-entry ul {
        overflow: hidden;
    }
    .week-entry ul {
        height: 0;
        transition: 0.5s 0.5s all ease;
    }

    .week-entry:hover ul {
        height: 5em;
    }

    .week-entry:hover h3 {
        border-color: blue;
    }

/*  Helper Classes
 =============================================================================*/
    pre code,
    .block {
        display: block;
        margin: 1em;
        padding: 10pt;
        width: auto;
    }

    .date{
        font-size: 8pt;
        text-align: right;
    }

    .main,
    .important {
        font-weight: bold;
    }

    .small {
        font-size: 8pt;
    }

    .page{
        background-color: #FFF;
        border: 1px dotted;
        margin: 0 -2em 1em;
        padding: 0 2em 2em;
    }

.alert {
    background: #fff6bf url(exclamation.gif) center no-repeat;
    background-position: 15px 50%; /* x-pos y-pos */
    border-top: 2px solid #ffd324;
    border-bottom: 2px solid #ffd324;
    padding: 5px 20px 5px 45px;
    text-align: left;
    white-space: normal;
}

.Error, .warn {
    background: #FFBFBF url(exclamation.gif) center no-repeat;
    background-position: 15px 50%; /* x-pos y-pos */
    border-top: 2px solid #FF2424;
    border-bottom: 2px solid #FF2424;
    color: #600;
    padding: 5px 20px 5px 45px;
    text-align: left;
    white-space: normal;
    margin-bottom: 2px;
}
body {
    counter-reset: stack-counter;
}

.Stack {
    counter-increment: stack-counter;
    background-color: rgb(255,255,0);
    border: 1px solid orange;
}

.Stack:before {
    content: counter(stack-counter, decimal-leading-zero) ". ";
}

.no-bullets {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.messages li {
    font-size: 1em;
}

/*  Javascript Enhanced Elements
 =============================================================================*/

.ui-tabs .ui-tabs-nav li a {
    float: left;
    text-decoration: none;
    padding: .5em 1em;
    border-bottom: none;
}
/* EOF */


.TimeLog .Job,
ul.holder li.Job,
.facebook-auto ul li.Job {
    background-color: #80D386; /* green */
}
.facebook-auto ul li.Job.auto-focus {
    background-color: #4E8051; /* green dark */
}

.TimeLog .Project,
ul.holder li.Project,
.facebook-auto ul li.Project {
    background-color: #809DD3; /* blue */
}
.facebook-auto ul li.Project.auto-focus {
    background-color: #4E5F80; /* blue dark */
}


.TimeLog .Task,
ul.holder li.Task,
.facebook-auto ul li.Task {
    background-color: #D38080; /* red */
}
.facebook-auto ul li.Task.auto-focus {
    background-color: #804E4E; /* red dark */
}


.TimeLog .User,
ul.holder li.User,
.facebook-auto ul li.User {
    background-color: #F4F59C; /* yellow */
}
.facebook-auto ul li.User.auto-focus {
    background-color: #97993D; /* yellow dark */
}


.TimeLog .Group,
ul.holder li.Group,
.facebook-auto ul li.Group {
    background-color: #DFACFF; /* purple */
}
.facebook-auto ul li.Group.auto-focus {
    background-color: #A9649D; /* purple dark */
}

.TimeLog .Time,
ul.holder li.Time,
.facebook-auto ul li.Time {
    background-color: gray;
}
.facebook-auto ul li.Time.auto-focus {
    background-color: darkgray;
}

.TimeLog .Ticket,
ul.holder li.Ticket,
.facebook-auto ul li.Ticket {
    color: #FFF;
    text-indent: 18px;
    background:url("IconAppTypeJira.png") no-repeat #147;
}
.facebook-auto ul li.Ticket.auto-focus {
    background-color: #035;
}

#test .facebook-auto ul li.auto-focus em {
    background-color: gray;
}
.facebook-auto ul li.auto-focus:after {content:''}
.facebook-auto ul li:after {
    color:#EEE;
    content: attr(class);
    float:right;
}
.facebook-auto ul li.User:after {
    color:#AAA;
}

.TimeLog .Meta,
ul.holder li.Meta,
.facebook-auto ul li.Meta {
    display:none;
}

/*@TODO: The selector here is weird because of specificity needed. We should just add an ID to the body and use that for leverage...*/
body .page form .Meta {
    display:block;
}

form {
    position: relative;
}
button {
    float: left;
    position: absolute;
    right: 0px;
    top: 0px;
}

.TimeLog .time {
    border: none;
    color: #000;
}

.TimeLog li {
    list-style: none;
    clear: left;
}

.legend {
    margin-bottom: 3em;
}
.TimeLog li span,
.legend li {
    margin: 0.1em;
    padding: 0.1em 0.5em;
    position: relative; float: left; border: 1px solid;
    -moz-border-radius: 0.75em;
    border-radius: 0.75em;
    clear: none;
    color: #666;
}

#tabs .TimeLog {
    width: 100%;
}

.nav {
    position: absolute;
    top: 4em;
    font-weight: bolder;
    text-decoration: none;
    border: 1px solid gray;
    padding: 0;
    margin: 0 -24em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    background-color: white;
    color: black;
    height: 1.25em;
    width: 1.25em;
    text-align: center;
}
.nav:hover {
    color: white;
    background-color: black;
}
.previous {left: 50%;}
.next {right: 50%;}

.no-form .next + .page {
    margin-top: 5em;
}

.Ticket a {
    color: white;
    border: none;
}

/*EOF*/
